h1, h5{
    text-align: center;
    text-align:center;

}

mark{ 
    background-color: rgb(163, 128, 233); 
}

figure {
    
     text-align: center;
}
body{
    
     background-color: rgb(163, 128, 233); 
}
.paragrafo {
      font-family: Georgia;
}

    